body{
    background-color: aqua;
}

img{
    width: 200px;
}

/* nav {
    margin-left: 200px;
} */

.batas{
    margin-left: 200px;
}

.warna {
    background-color: yellow;
}

#bekgron {
    background-color: red;
}

#kiri {
    margin-left: 200px;
}